<!DOCTYPE html>
<html lang="en" layout:decorate="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"

>
<head>
    <meta charset="UTF-8">
    <!--  <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"> -->

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>

</head>
<body>
<div layout:fragment="content1">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <form method="POST" th:action="@{/}">
                    <div class="row align-itms-center my-4">
                        <div class="col">
                            <h2 class="h3 mb-0 page-title">Liste des Médecins</h2>
                        </div>
                        <div class="col-auto" sec:authorize="hasAuthority('Secrétaire')">
                            <a class="btn btn-success" style="color:white" th:href="@{/medecin/add}">
                                <span style="color:white"></span><i aria-hidden="true" class="fa fa-user-plus"></i>
                            </a>

                        </div>
                    </div>
                </form>
            </div>
            <div class="content-header row">
                <div class="content-header-left col-md-12 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-12">
                            <div class="card">
                                <div class="card-header">
                                    <ol class="breadcrumb">

                                        <li class="breadcrumb-item"><a th:href="@{/}">Accueil</a></li>
                                        <li class="breadcrumb-item active">Médecins</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row my-8">
                        <div class="col-md-12">
                            <div class="card-body">

                                <div class="d-flex" style="float: right">
                                    <form method="get" style="float: right" th:action="@{/medecin/}">
                                        <input name="keyword" th:value="${keyword}" type="text">
                                        <button class="btn btn-primary" type="submit"><i
                                                class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row my-10">
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <!-- table -->
                                    <table class="table datatables" id="dataTable-1">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom Complet</th>
                                            <th>Email</th>
                                            <th>Spécialité</th>
                                            <th width="230px" sec:authorize="!hasAuthority('Médecin')">Action</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="p:${medecin}">
                                            <td th:text="${p.idUtilisateur}"></td>
                                            <td th:text="${p.getUsername()}"></td>
                                            <td th:text="${p.email}"></td>
                                            <td th:text="${p.specialite.nom}"></td>

                                            <td sec:authorize="hasAuthority('Patient')">
                                                <a class="btn btn-success"
                                                   th:href="@{/rdv/addR/__${p.idUtilisateur}__(id=${p.idUtilisateur},keyword=${keyword},page=${currentPage} )}">
                                                    Prendre un Rendez-Vous</a>
                                            </td>
                                            <td sec:authorize="hasAuthority('Secrétaire')">
                                                <a class="btn btn-danger"
                                                   onclick="return confirm('Are you Sure ??')"
                                                   th:href="@{delete(id=${p.idUtilisateur},keyword=${keyword},page=${currentPage} )}">
                                                    <i aria-hidden="true" class="fa fa-trash"></i>
                                                    Supprimer</a>
                                            </td>
                                            <td sec:authorize="hasAuthority('Secrétaire')">
                                                <a class="btn btn-warning"
                                                   th:href="@{edit/__${p.idUtilisateur}__(id=${p.idUtilisateur},keyword=${keyword},page=${currentPage} )}">
                                                    <i aria-hidden="true" class="fa fa-edit"></i>
                                                    Modifier</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- end table -->
                                    <ul class="nav nav-pills">
                                        <li th:each="page,status:${pages}">
                                            <a th:class="${status.index==currentPage?'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}"
                                               th:href="@{index(page=${status.index},keyword=${keyword})}"
                                               th:text="${status.index}"
                                            ></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- .col-md-12 -->
                    </div> <!-- end section row my-4 -->
                    </form>
                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->

    </div>
    <div>
    </div>
</div>
</body>
</html>